@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}
<h1 class="display-4">School account sync website</h1>
<div class="user-list">
    @foreach (var u in Model.Users)
    {

        <div class='user-item'>
            <div>
                <span class="user-info-primary">@u.FullName()</span>
                <span class="user-info-secondary">@u.PersonalEmail / @u.SchoolEmail</span>
            </div>
            <a class="button-primary" asp-page="User" asp-route-id="@u.Id" >Zobrazit</a>
        </div>

    }
</div>